body{
  background-image : url(Consulting2-0.jpg);
  background-size: cover;
  font-family: verdana, sans-serif;
}

p {
    color: black;
}

h1 {
    color: black;
}

.container {
    /*background-color: pink;*/
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.container_two {
    text-align: center;
}

.container_three {
    text-align: center;
}

.container_four {
    text-align: center;
}

.container_five {
    text-align: center;
}

footer p {
    text-align: center;
    font-size: 14px;
}

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align:center;
 background-color: red;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}



